.widget {
  background: $widget-back;
  margin-bottom: $xl-size;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.widget__message {
  border-bottom: 1px solid lighten($widget-back, $amount: 10);
  color: $color-back;
  margin: 0;
  padding: $l-size;
  text-align: center;
}
.widget-header {
  background: $blue;
  color: $color-back;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.widget-header__title {
  margin: 0;
}
