html {
  font-size: 62.5%;
}

body {
  // background-color: $light-blue;
  // background: linear-gradient(to bottom left, #654ea3, #eaafc8);
  // background: linear-gradient(to bottom left, #ad5389, #3c1053);
  // background: linear-gradient(to bottom, #355c7d, #6c5b7b, #c06c84);
background: linear-gradient(to bottom, #23074d, #cc5333);
font-family: 'Roboto',
    sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}