//colors
$off-blue: rgb(92, 84, 164); //#98bbfb;
$light-green: rgb(210, 223, 184);
$light-blue: #cbfdf5;
$purple: rgb(92, 84, 164);
$blue: rgb(92, 84, 164);
$color-back: white;
$widget-back: rgb(168, 164, 209);
//spacing
$s-size: 1.4rem;
$m-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//TODO: CSS
